header {
   /* border:1px black solid;*/
    text-align: center;
    text-decoration: underline;
    font-family: sans-serif;
}
.description{
    margin: 5px 4% 4% 0;
}

.main-content{
    
}
.input-box{
    border: 1px black solid;
    border-radius: 3px;
    height: auto;
    width: 99.5%;
    border-style: ridge;
    resize: none; 
    overflow:hidden;
    margin-top: 0;
}


body {
    margin-top: 2px;
    background-color: lightblue;
}